@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

h2 {
  font-family: Caveat;
}

h3 {
  font-family: Caveat;
}

p {
  font-family: Montserrat;
}

body {
  background-color: lightcoral;
}
.logo {
  width: 200px;
  height: 250px;
}

img {
  width: 200px;
  height: 200px;
}

.navbar {
  display: flex;
  just
  border: 2px solid white ;
  height: 40px;
  align-items: center;
  background-color: brown;
}

nav:hover {
  color: brown;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: Rock Salt;
}

.nav-kanan budaya {
  margin-left: 100px;
}

.footer {
  background-color:brown;
  height: 25px;
  font-family: Montserrat;
}

b {
  color: white;
  font-family: Caveat;
}
